<launch>

  <arg name="rvizconfig" default="$(find b2_dev)/conf/urdf.rviz" />
  <arg name="rqtconfig" default="$(find b2_dev)/conf/main.perspective" />

  <node name="rqt" pkg="rqt_gui" type="rqt_gui"
        args="--perspective-file $(arg rqtconfig)"
        required="false" />
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(arg rvizconfig)"
        required="false" />
</launch>
